<%= render 'shared/errors', object: @time_entry_event %>
<%= form_for(@time_entry_event) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <%= f.submit @time_entry_event.new_record? ? 'Add TimeSheet entry' : 'Update TimeSheet entry', class: 'btn' %>    
<% end %>

